@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.text {
  color: var(--main-text-color);
}

.text_main {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}
